.postTitle{
    margin-top: 10%;
}

/* .inputContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .postContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */