.itemCard{
    width: 30%;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-content: space-around;
    flex-wrap: wrap;
}

.cards{
    margin: 5%;
    width: 30%;
}

.images{
    height: 10%;
}